.Aboutmore {
  .aboutmore__inner {
    text-align: center;
  }
  padding-top: 47px;
  padding-bottom: 100px;
  .aboutmore__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 38px;

    h2 {
      color: #fff;
      text-align: center;
      padding-bottom: 38px;
    }
    .aboutmore__info-span2 {
      display: flex;
      flex-wrap: wrap;
      max-width: 746px;
      display: flex;
      max-width: 746px;
      flex-shrink: 0;
      color: #fff;
      text-align: center;
      font-family: DM Sans;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
     
    }
    // p {

    // }
    span {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .aboutmore__list {
    text-align: center;
    max-width: 1733px;
    display: flex;
    justify-content: center;
    gap: 90px;
    flex-wrap: wrap;

    li {
      display: flex;
      text-align: center;
      justify-content: center;
    }

    .aboutmore__inner {
      width: 62px;
      height: 62px;
      background-color: rgba(33, 33, 33, 1);
      border-radius: 50%;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 21px;
      position: relative;
      .aboutmore__inner1 {
        width: 12px;
        height: 12px;
        background-color: rgba(39, 174, 96, 1);
        display: block;
        border-radius: 50%;
        position: absolute;
        bottom: 26px;
        right: 26px;
      }
    }
  }
}
.aboutmore__link-span3 {
  // h4{
  //     margin-left: 55px;
  // }
  // p{
  //     margin-left: 55px;
  // }
}
// .aboutmore__link-span4{
//     h4{
//         margin-left: 45px;
//     }
//     p{
//         margin-left: 45px;
//     }

// }
.aboutmore__link {
  align-items: center;
  position: relative;
}
// @media (max-width:747px){
//     .aboutmore__info{
//         p{
//             width:400px;
//         }
//     }
// }
